{% extends "layout.html" %}

{% block title %} Hostile actions Input{% endblock%}
{% block heading %} Input hostile actions{% endblock %} 
{% block subtitle %} this page is for adding all the hostile actions to the hostile actions database {% endblock %} 


{% block maintext %} 


Probably also do a readout of all the actions here or something 
<form action="{{ url_for('inputbehaviour') }}" method="POST">
<input type="text" name="actionname" placeholder="Action name">
<input type="text" name="description" placeholder="describe action">
<button>submit</button>
</form>

    <table class="datalist">
        {% for action in actions %}
            <tr>
                <td class=leftcolumn><h3>{{action.actionname}}</h3></td>           
                <td class=rightcolumn><p>{{action.description}}</p></td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}

