<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css')}}">
        <title> {% block title %} {% endblock %} </title>
    </head>

<body>
    <div class=titleblock>
        <h1>{% block heading %} {% endblock %}  </h1>
        <h2>{% block subtitle %}{% endblock %} </h2>
    </div>

    <div class=mainblock>
        {% block maintext %} {% endblock %}
    </div>

    <div class=footer>
        <table>
            <tr>
                <td><a href="{{url_for('index')}}">Index page</a></td>
                <td><a href="{{url_for('behaviour')}}">Behaviour</a></td>
                <td><a href="{{url_for('inputbehaviour')}}">Input hostile actions</a></td>


            </tr>
        </table>

    </div>
</body>


</html>
